#Python related files
Flask_OPA.egg-info/
.eggs/
htmlcov/
build/
dist/

# Virtual Environment
venv/

# IDE files
.idea/

# Mac OS
.DS_Store

# OPA
.opa_history

#OPA files for testing
examples/input.json

#Python files
__pycache__

#Code coverage
.coverage