#Python related files
Flask_OPA.egg-info/
.eggs/
htmlcov/
build/
dist/

# Virtual Environment
venv/
.venv/

# IDE files
.idea/

# OS related files
.DS_Store

# Runtime
nohup.out
.Makefile.swp
.env

# OPA
.opa_history

# OPA files for testing
examples/input.json

# Python files
__pycache__

# Code coverage
.coverage